body {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.toggle {
  width: 300px;
  height: 100%;
  left: -300px;
  position: absolute;
  top: 0;
  transition: left 0.3s ease;
}

.toggle.open {
  left: 0;
}

.width {
  border-bottom: 1px solid #CCD4E1;
}

audio::-webkit-media-controls-panel {
  background-color: #FFFFFF;
}
